body {
  font-family: Arial, sans-serif;
  
}
html {
  
}
header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 10px;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #282c34;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}
html::-webkit-scrollbar {
  display: none;
}
/* html::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 20px;
} */